*{
	padding: 0;
	margin: 0;
	font-family: "Comic Sans MS", "Comic Sans", cursive;
}
body{
	width: 100%;
	background: #ffffff;
	background-image: url('../img/res/fon2.jpg');
		background-size: 100%;
 	background-attachment: fixed;
 	background-position: fixed;
	font-family: "Comic Sans MS", "Comic Sans", cursive;
}
#toplogo-holder{
	max-width: 300px;
	margin: 0 auto;
}
#toplogo{
	width: 100%;
	
}
header{
	max-width: 500px;
	margin: 0 auto;

}
nav a{
	text-decoration: none;
	color: black;
	transition: 0.2s;
	font-size: 14pt;
}
nav a:hover{
	color: darkorange;
	transition: 0.2s;
}
nav{
	width: 406px;
	margin: 0 auto;
}
nav div{
	display: inline-block;
	margin-right: 10px;
	margin-left: 10px;
}
main{
	padding: 20px 10px 20px 10px;
	max-width: 1100px;
	margin: 0 auto;
}
footer{
	padding: 10px 10px 10px 10px;
	max-width: 1080px;
	margin: 0 auto;
	text-align: center;
	background-color: white;
}
footer .a_grey{
	color: #ccc;
	transition: 0.1s;
}
footer .a_grey:hover{
	color: darkorange;
	transition: 0.1s;
}
#basket{
	position: fixed;
	width: 200px;
	border: 1px solid lightgrey;
	border-radius: 10px;
	top: 30px;
	right: 40px;
	background-color: #fdfdfd;
	padding: 10px;
	text-align: center;
	transition: 0.2s;
}
#basket:hover{
	cursor: pointer;
	transition: 0.2s;
	background-color: lightblue;
	border: 1px solid black;
}
.bp{
	font-size: 15pt;
	font-weight: 777;
}
#slid {
    display: none;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}
#slidreg {
    display: none;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}
.togle-link{
	cursor: pointer;
	color: black;
	text-decoration:underline;
	text-decoration-style: dotted;
	transition: 0.2s;
}
.togle-link:hover{
	color: green;
	transition: 0.2s;
}
#wrapper{
	padding: 10px;
	background-color: white;
	border-radius: 6px;
}
.anc{
	padding-left: 20px;
}
ul{
	padding-left: 20px;
} 
#add-new{
	transition: 0.6s;
}
@media screen and (max-width: 900px) {
    #basket{
	position: fixed;
	width: 100%;
	border-bottom: 1px solid #333;
	border-radius: 0px;
	top: 0px;
	right: 0px;
	background-color: #fdfdfd;
	padding: 10px;
	text-align: center;
	transition: 0.2s;
	}
	header{
		padding-top: 75px;
		max-width: 500px;
		margin: 0 auto;
	}
}